{% extends "polls_base.html" %}

{% block contents %}
  <table border="1" class="table table-striped">

    <tr>
      <th>質問内容</th>
      <th>公開日</th>
      <th>参照</th>
    </tr>

    {% if questions %}
      {% for question in questions %}
        <tr>
          <td>{{ question.question_text }}</td>
          <td>{{ question.published_date }}</td>
          <td><a href="{% url 'polls:detail' question.id %}">詳細画面へ</a></td>
        </tr>
      {% endfor %} 
    {% endif %}

  </table>
<!-- endblockに引数は必要ないが、どのblockを閉じたのかわからなくなるため、開くときと対の引数をつける -->
{% endblock contents %}